<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <%- include('./partials/head.ejs') %>
</head>
<body class="position-relative" data-bs-spy="scroll">
    <%- include('./partials/navbar.ejs') %>
  <div data-spy="scroll" data-target="#navbar" data-offset="0">
    <%- include('./partials/login.ejs') %>
  </div>
    <%- include('./partials/scripts.ejs') %>
  </body>
</html>